@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
	font-family: 'Raleway', sans-serif !important;
	font-weight: 300;
}

.fab {
	color: white;
	font-size: 2em;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	margin: 5px;
	text-align: center;
}

.content-title {
	margin: 2em;
}

a:hover {
	opacity: 0.6;
}

#icon-img {
	margin-top: 20px;
	margin-bottom: 40px; 
	border-radius: 5%;
	width: 250px;
}

header {
	background-image: url("imgs/pietro-jeng-n6B49lTx7NM-unsplash.jpg");
	background-color: 343a40;
	background-size: cover;
	background-position: center;
	/* filter: blur(2px) */
}

.progress-title {
	margin-top: 10px !important;
}

.header-content {
	padding: 2em;
	text-align: center;
	text-shadow: 2px 2px 5px black;
	color: white;
}


hr {
	color: gray;
}

h5 {
	display: flex;
	justify-content: center;
	align-items: center;
}

h6 {
	text-align: left;
}

#middle-content {
	margin-top: 3em;
}

@media (max-width: 768px) {
	#column-2 {
		padding-top: 3em;
	}
}

#details-content li {
	background-color: transparent;
	border: 0px;
}

.footer {
	margin-bottom: 3em;
}

.education p {
	text-align: right;
	font-size: 0.75em;
}

#profile-text {
	margin:2em;
	letter-spacing: 1.5px;
}

.logo-edit {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	background-color: white;
	padding: 10px;
}

.logo-edit img {
	max-height: 100%;
	max-width: 100%;
}

#social img {
	width: 50px;
}
